body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

.grid-view {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.grid-view div.card.ui {
  margin: 1.25rem;
}


.form__error {
  color: red;
  font-size: 12px;
  margin-top: -10px;
}

.field {
  border: 1px solid lightgrey;
  border-radius: 5px;
  display: block;
  margin: 15px 0;
  padding: 5px 10px;
  width: 100%;
}

a.active {
  color: blue;
}